@if (postsService.isLoading) {
  <div class="flex items-center justify-center h-screen">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="flex-grow flex items-center justify-center lg:w-1/2 md:w-4/5 sm:w-5/6 mx-auto">
    <table mat-table [dataSource]="postsService.posts$" class="mat-elevation-z8">
      <ng-container matColumnDef="authorName">
        <th mat-header-cell *matHeaderCellDef>მომხმარებლის სახელი</th>
        <td mat-cell *matCellDef="let element"> {{ element.authorName }}</td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef>პოსტის სათაური</th>
        <td mat-cell *matCellDef="let element"> {{ element.body | truncate:50:true }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button
                  (click)="openModal(element.id)"
                  [@scaleAnimation]="buttonStates[element.id]"
                  class="shadow-lg"
                  (mouseenter)="onMouseEnter(element.id)"
                  (mouseleave)="onMouseLeave(element.id)">
            Details
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
}
