<nav mat-tab-nav-bar class="text-white" [tabPanel]="{id: 'navigation'}">
  <a mat-tab-link
     routerLink="/"
     routerLinkActive="mat-tab-active"
     [routerLinkActiveOptions]="{ exact: true }">
    Crocobet
  </a>
  <a mat-tab-link
     routerLink="/customers"
     routerLinkActive="mat-tab-active"
     [routerLinkActiveOptions]="{ exact: true }">
    Customers
  </a>
  <a mat-tab-link
     routerLink="/posts"
     routerLinkActive="mat-tab-active"
     [routerLinkActiveOptions]="{ exact: true }">
    Posts
  </a>
</nav>
